<!DOCTYPE html>
<html>

<head>
	<%- include('partial/headers.ejs'); -%>
	<title>404 - Not found</title>
</head>

<body>
	<%- include('partial/navbar.ejs'); -%>

	<!-- main pagina -->
	<h1>404 not found</h1>
	<%- include('partial/footer.ejs'); -%>
</body>

</html>