<!DOCTYPE html>
<html>

<head>
	<%- include('partial/headers.ejs'); -%>
	<title>PC Home</title>
</head>

<body>
	<%- include('partial/navbar.ejs'); -%>

	<!-- main pagina -->
	<section id="maintop">
		<header class="super-top">
			<h1>Fai conoscere la tua azienda!</h1>
			<h2>Contattaci per realizzare il sito WEB<br>
				perfetto per te.
			</h2>
			<!-- <button href="#scegli">Scegli il tuo pc</button> -->
			<a href="home">Ritorna All'home</a>
		</header>
	</section>

</body>

</html>