<!DOCTYPE html>
<html>

<head>
	<%- include('partial/headers.ejs'); -%>
	<title>PC Home</title>
</head>

<body>
	<%- include('partial/navbar.ejs'); -%>

	<!-- main pagina -->
	<section id="maintop">
		<header class="super-top">
			<h1>Fai conoscere la tua azienda!</h1>
			<h2>Contattaci per realizzare il sito WEB<br>
				perfetto per te.
			</h2>
			<!-- <button href="#scegli">Scegli il tuo pc</button> -->
			<a href="home">Ritorna All'home</a>
		</header>
	</section>

	<section id="mainmid" >
		<div class="container centered">
			<div class="vetrinaContainer">
				<h2>vetrina</h2>
				<p>

				</p>
			</div>
			<div class="medioContainer">
				<h2>dinamico</h2>
				<p>

				</p>
			</div>
			<div class="eCommerceContainer">
				<h2>e-commerce</h2>
				<p>

				</p>
			</div>
		</div>
	</section>

</body>

</html>