<!DOCTYPE html>
<html>

<head>
	<%- include('partial/headers.ejs'); -%>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<title>PC Home</title>
</head>

<body>
	<%- include('partial/navbar.ejs'); -%>

	<!-- main pagina -->
	<section id="maintop">
		<header class="super-top">
			<h1>Fai diventare grande la tua azienda!</h1>
			<h2>Entra nel mondo del WEB<br>
				realizzando il sito perfetto per te.
			</h2>
			<!-- <button href="#scegli">Scegli il tuo pc</button> -->
			<a href="abbonamento">Scopri</a>
		</header>
	</section>


	<section id="offerta">
		<header class="abbonamento">

			<div class="container">
		
				<div class="card">
					<div class="circle">
						<h2>Vetrina</h2>
					</div>
					<div class="content">
						<ul>
							<li>Primo</li>
							<li>Secondo</li>
							<li>Terzo</li>
						</ul>
						<a href="vetrina">Scopri</a>
					</div>
				</div>
		
				<div class="card">
					<div class="circle">
						<h2>Medio</h2>
					</div>
					<div class="content">
						<ul>
							<li>Primo</li>
							<li>Secondo</li>
							<li>Terzo</li>
						</ul>
						<a href="#">Scopri</a>
					</div>
				</div>
		
				<div class="card">
					<div class="circle">
						<h2>e-commerce</h2>
					</div>
					<div class="content">
						<ul>
							<li>Primo</li>
							<li>Secondo</li>
							<li>Terzo</li>
						</ul>
						<a href="ecommerce">Scopri</a>
					</div>
				</div>
			</div>
			
		</header>
	</section>

</body>

</html>