<!DOCTYPE html>
<html>

<head>
	<%- include('partial/headers.ejs'); -%>
	<link rel="stylesheet" type="text/css" href="/css/home.css">
	<title>Weboop</title>
</head>

<body>
	<%- include('partial/navbar.ejs'); -%>

	<!-- main pagina -->
	<section id="maintop">
		<header class="super-top">
			<h1>Fai diventare grande la tua azienda!</h1>
			<h2>Entra nel mondo del WEB<br>
				realizzando il sito perfetto per te.
			</h2>
			<!-- <button href="#scegli">Scegli il tuo pc</button> -->
			<a href="abbonamento">Scopri</a>
		</header>
	</section>

	<!-- wave -->
	<svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
		<path fill="#F6F3F4" fill-opacity="1" d="M0,96L48,90.7C96,85,192,75,288,64C384,53,480,43,576,69.3C672,96,768,160,864,197.3C960,235,1056,245,1152,229.3C1248,213,1344,171,1392,149.3L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
	  </svg>


<section id="scegli">
		<header class="boxscegli">
			<div class="divscegli centered">
				
				<div class="box">
					<h1>PIU VISIBILITA</h1>
					<div class="line"></div>
					<div class="content">
						&lt;Nome&gt;  
					</div>
				</div>
				<div class="box">
					<h1>PIU CLIENTI</h1>
					<div class="line"></div>
					<div class="content">
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum sit similique molestias assumenda illo. Odio minus recusandae ex quibusdam necessitatibus illum assumenda aperiam asperiores, perspiciatis inventore, non quos eaque! Perspiciatis.
					</div>
				</div>
				<div class="box">
					<h1>MENO CONCORRENZA</h1>
					<div class="line"></div>
					<div class="content">
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum sit similique molestias assumenda illo. Odio minus recusandae ex quibusdam necessitatibus illum assumenda aperiam asperiores, perspiciatis inventore, non quos eaque! Perspiciatis.
					</div>
				</div>
			</div>
		</header>
	</section>
	<!-- wave2 -->
	<svg class="wave2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
		<path fill="#EEDBD9" fill-opacity="1" d="M0,96L48,90.7C96,85,192,75,288,64C384,53,480,43,576,69.3C672,96,768,160,864,197.3C960,235,1056,245,1152,229.3C1248,213,1344,171,1392,149.3L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
	  </svg>

	<section id="offerta">
		<header class="abbonamento centered">

			<div class="container">
		
				<div class="card">
					<h2>Vetrina</h2>
					<div class="circle">
					</div>
					<div class="content">
						<ul>
							<li>Primo</li>
							<li>Secondo</li>
							<li>Terzo</li>
						</ul>
					</div>
					<a href="vetrina" class="centered">Scopri</a>
				</div>
		
				<div class="card">
					<h2>Medio</h2>
					<div class="circle">
						</div>
					<div class="content">
						<ul>
							<li>Primo</li>
							<li>Secondo</li>
							<li>Terzo</li>
						</ul>
					</div>
					<a href="#" class="centered">Scopri</a>
				</div>
		
				<div class="card">
					<h2>e-commerce</h2>
					<div class="circle">
						
					</div>
					<div class="content">
						<ul>
							<li>Primo</li>
							<li>Secondo</li>
							<li>Terzo</li>
						</ul>
					</div>
					<a href="ecommerce" class="centered">Scopri</a>
				</div>
			</div>
			
		</header>
	</section>
	<svg class="wave3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
		<path fill="#EEDBD9" fill-opacity="1" d="M0,64L48,74.7C96,85,192,107,288,144C384,181,480,235,576,234.7C672,235,768,181,864,154.7C960,128,1056,128,1152,160C1248,192,1344,256,1392,288L1440,320L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
	  </svg>
	
	

	

	<%- include('partial/footer.ejs'); -%>
</body>

</html>