<!DOCTYPE html>
<html>

<head>
	<%- include('partial/headers.ejs'); -%>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<title>PC Home</title>
</head>

<body>
	<%- include('partial/navbar.ejs'); -%>

	<!-- main pagina -->
	<section id="maintop">
		<header class="super-top">
			<h1>Fai diventare grande la tua azienda!</h1>
			<h2>Entra nel mondo del WEB<br>
				realizzando il sito perfetto per te.
			</h2>
			<!-- <button href="#scegli">Scegli il tuo pc</button> -->
			<a href="abbonamento">Scopri</a>
		</header>
	</section>
<section id="scegli">
		<header class="boxscegli">
			<div class="divscegli centered">
				
				<div class="box">
					<h1>PIU VISIBILITA</h1>
					<div class="line"></div>
					<div class="content">
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum sit similique molestias assumenda illo. Odio minus recusandae ex quibusdam necessitatibus illum assumenda aperiam asperiores, perspiciatis inventore, non quos eaque! Perspiciatis.
					</div>
				</div>
				<div class="box">
					<h1>PIU CLIENTI</h1>
					<div class="line"></div>
					<div class="content">
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum sit similique molestias assumenda illo. Odio minus recusandae ex quibusdam necessitatibus illum assumenda aperiam asperiores, perspiciatis inventore, non quos eaque! Perspiciatis.
					</div>
				</div>
				<div class="box">
					<h1>MENO CONCORRENZA</h1>
					<div class="line"></div>
					<div class="content">
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum sit similique molestias assumenda illo. Odio minus recusandae ex quibusdam necessitatibus illum assumenda aperiam asperiores, perspiciatis inventore, non quos eaque! Perspiciatis.
					</div>
				</div>
			</div>
		</header>
	</section>

	<section id="offerta">
		<header class="abbonamento centered">

			<div class="container">
		
				<div class="card">
					<h2>Vetrina</h2>
					<div class="circle">
					</div>
					<div class="content">
						<ul>
							<li>Primo</li>
							<li>Secondo</li>
							<li>Terzo</li>
						</ul>
					</div>
					<a href="vetrina" class="centered">Scopri</a>
				</div>
		
				<div class="card">
					<h2>Medio</h2>
					<div class="circle">
						</div>
					<div class="content">
						<ul>
							<li>Primo</li>
							<li>Secondo</li>
							<li>Terzo</li>
						</ul>
					</div>
					<a href="#" class="centered">Scopri</a>
				</div>
		
				<div class="card">
					<h2>e-commerce</h2>
					<div class="circle">
						
					</div>
					<div class="content">
						<ul>
							<li>Primo</li>
							<li>Secondo</li>
							<li>Terzo</li>
						</ul>
					</div>
					<a href="ecommerce" class="centered">Scopri</a>
				</div>
			</div>
			
		</header>
	</section>
	
	
	<section id="ads">
		<header class="mid">
			 <div class="box">
				
					<div class="contenuto">
						<div class="contenuto_text">
							<h3>Aumentare visibilità</h3>
							<h4>Perchè è importante aumentare la visibilità?</h4>
							<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br> Laboriosam amet quasi praesentium blanditiis.<br> Asperiores distinctio,<br> repellat natus quo, accusantium illo quam itaque ad sit iste assumenda praesentium, iure suscipit vero!</p>
						</div>
						<img src="../public/img/img1.svg">
					</div>

			</div> 

			<div class="box">
				
					<div class="contenuto">
						<div class="contenuto_text">
							<h3>Supera la concorrenza</h3>
							<h4>Perchè conviene essere tra i primi nei motori di ricerca?</h4>
							<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br> Laboriosam amet quasi praesentium blanditiis.<br>  Asperiores distinctio,<br> repellat natus quo, accusantium illo quam itaque ad sit iste assumenda praesentium, iure suscipit vero!</p>
						</div>
						<img src="../public/img/img1.svg">
					</div>

			</div> 

			<div class="box">
				
					<div class="contenuto">
						<div class="contenuto_text">
							<h3>Fatti conoscere!</h3>
							<h4>Perchè è importante la gestione dei tuoi social?</h4>
							<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br> Laboriosam amet quasi praesentium blanditiis.<br> Asperiores distinctio,<br> repellat natus quo, accusantium illo quam itaque ad sit iste assumenda praesentium, iure suscipit vero!</p>
						</div>
						<img src="../public/img/img1.svg">
					</div>

			</div> 
		</header>
	</section>
	

	<%- include('partial/footer.ejs'); -%>
</body>

</html>