<!DOCTYPE html>
<html>

<head>
	<%- include('partial/headers.ejs'); -%>
	<link rel="stylesheet" type="text/css" href="/css/vetrina.css">
	<title>Vetrina</title>
</head>

<body>
	<%- include('partial/navbar.ejs'); -%>

	<!-- main pagina -->
	<section id="maintop">
		<header class="top">
			<h1>Ecco la tuo offerta Vetrina!</h1>
			<h2>Contattaci per realizzare il sito WEB<br>
				perfetto per te.
			</h2>
			<!-- <button href="#scegli">Scegli il tuo pc</button> -->
			<a href="abbonamento">Scopri</a>
		</header>
	</section>
	<section id="ads">
		<header class="mid">
			 <div class="box">
				
					<div class="contenuto">
						<div class="contenuto_text">
							<h3>Aumentare visibilità</h3>
							<h4>Perchè è importante aumentare la visibilità?</h4>
							<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br> Laboriosam amet quasi praesentium blanditiis.<br> Asperiores distinctio,<br> repellat natus quo, accusantium illo quam itaque ad sit iste assumenda praesentium, iure suscipit vero!</p>
						</div>
						<img src="../public/img/img1.svg">
					</div>

			</div> 

			<div class="box">
				
					<div class="contenuto">
						<div class="contenuto_text">
							<h3>Supera la concorrenza</h3>
							<h4>Perchè conviene essere tra i primi nei motori di ricerca?</h4>
							<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br> Laboriosam amet quasi praesentium blanditiis.<br>  Asperiores distinctio,<br> repellat natus quo, accusantium illo quam itaque ad sit iste assumenda praesentium, iure suscipit vero!</p>
						</div>
						<img src="../public/img/img1.svg">
					</div>

			</div> 

			<div class="box">
				
					<div class="contenuto">
						<div class="contenuto_text">
							<h3>Fatti conoscere!</h3>
							<h4>Perchè è importante la gestione dei tuoi social?</h4>
							<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<br> Laboriosam amet quasi praesentium blanditiis.<br> Asperiores distinctio,<br> repellat natus quo, accusantium illo quam itaque ad sit iste assumenda praesentium, iure suscipit vero!</p>
						</div>
						<img src="../public/img/img1.svg">
					</div>

			</div> 
		</header>
	</section>
	<%- include('partial/footer.ejs'); -%>
</body>

</html>