<!DOCTYPE html>
<html>

<head>
	<%- include('partial/headers.ejs'); -%>
	<link rel="stylesheet" type="text/css" href="/css/vetrina.css">
	<title>Vetrina</title>
</head>

<body>
	<%- include('partial/navbar.ejs'); -%>

	<!-- main pagina -->
	<section id="maintop">
		<header class="top">
			<h1>Ecco la tuo offerta Vetrina!</h1>
			<h2>Contattaci per realizzare il sito WEB<br>
				perfetto per te.
			</h2>
			<!-- <button href="#scegli">Scegli il tuo pc</button> -->
			<a href="abbonamento">Scopri</a>
		</header>
	</section>

</body>

</html>