*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 60%;
}

body {
  background-color: #F6F3F4;  /*black mode:  #313131 */
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}


p {
  font-size: 2rem;
  padding: 3rem;
}

a {
  text-decoration: none;
}

a {
  color: #000;
  font-size: 2rem;
}

button {
  outline: none;
  cursor: pointer;
}
