*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Poppins', sans-serif;
  height: 3000px; /* !remove me */
  background-color: #313131;
}
p{
  font-size: 2rem;
	padding: 3rem;
}
a{
  text-decoration: none;
}
a{
  color: white;
  font-size: 2rem;
}

button{
  outline: none;
  cursor: pointer;
}

.centered{
  left: 50%;
  transform: translateX(-50%);
}


/*
pagina alto*/
 .super-top{
  display: flex;
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0), transparent),url("../images/prova1.jpg"); 
  background-size: cover;
  background-position: center;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.super-top h1{
  font-size: 4rem;
  padding: 2rem;
}
.super-top h2{
  font-weight: 300;
  font-size: 2rem;
  padding: 2rem;
}
.super-top a{
  margin-top: 5rem;
  padding: 2rem 6rem;
  background: #313131;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}



/*pagina scegli fascia*/

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


#mainmid{
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: auto;
}

#mainmid .container{
  position: relative;
  width: 90%;
  height: auto;
  display:flex;
  justify-content: center;
  align-items: center;
}

#mainmid .container div{
  width: 30%;
  margin-left: 3%;
  margin-right: 3%;
  display: inline-block;
  border: 1px solid black;
}

#mainmid .container div h2{ text-align: center };


/* ---- tablet/smartphone ---- */
/* PERCHÈ NON FUNGE DIO STRACANE */
@media screen and (max-width: 767px) {

  #mainmid .container { display: block; }
  #mainmid .container div { display: block; }

}



