*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 60%;
}

body {
  background-color: #313131;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

/*pagina alto*/
.super-top {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0), transparent), url("./../img/prova1.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.super-top h1 {
  font-size: 4rem;
  padding: 2rem;
  margin-top: 60px;
}

.super-top h2 {
  font-weight: 300;
  font-size: 2rem;
  padding: 2rem;
}

.super-top a {
  margin-top: 5rem;
  padding: 2rem 6rem;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
}

/*abbonamento*/
.abbonamento {
  position: relative;
  width: 90%;
}

.abbonamento .container {
  position: relative;
  width: auto;
}

.abbonamento .container .card {
  display: inline-block;
  position: relative;
  width: 28%;

  height: 400px;
  margin-left: 2%;
  margin-right: 2%;

  border-width: 1px;
  border: 1px solid #4687ff;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(2, 14, 70, 0.2);
  transition: 0.5s;
}

.abbonamento .container .card .circle {

  border-bottom: 1px solid #4687ff;
  position: relative;

}

.abbonamento .container .card h2 {
  color: #fff;
  font-size: 2.5em;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.abbonamento .container .card .content {
  position: relative;
  text-align: center;
  margin-top: 40px;
}


.content li {
  font-size: 2.5em;
  color: #fff;
}

.contetn ul li:before {
  content: '✓';
}

.abbonamento .container .card  a {
  position: absolute;
  display: inline-block;
  padding: 10px 20px;
  background: #4687ff;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  margin-top: 20px;
  bottom: 20px;
}


p {
  font-size: 2rem;
  padding: 3rem;
}

a {
  text-decoration: none;
}

a {
  color: white;
  font-size: 2rem;
}

button {
  outline: none;
  cursor: pointer;
}

.centered {
  left: 50%;
  transform: translateX(-50%);
}







/* section3 */
.boxscegli {
  display: flex;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

}

.boxscegli .divscegli {
  position: relative;
  width: auto;
  padding: 50px;
  display: flex;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  margin: 20%;
}

.boxscegli .divscegli .box {
  position: relative;

}

.boxscegli .divscegli .box .line {
  width: 80%;
  height: 40%;
  border-bottom: 1px solid black;
  position: relative;
  display: flex;
  margin-left: 10%;
}

.boxscegli .divscegli .box h1 {
  position: relative;
  font-size: 2.5em;
  padding: 40px;
}

.boxscegli .divscegli .box .content {
  position: relative;
  font-size: 2em;
  padding: 40px;
}

/* ads */
.mid {
  display: flex;
  min-height: 100vh;
  background-size: cover;
  background-position: center;

  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;


}

.mid .box {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 5%;
  padding: 40px;
}

.mid .box .contenuto {
  width: 200%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.mid .box .contenuto .contenuto_text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
}

.mid .box .contenuto img {
  width: 30%;
  max-width: 100%;
  border-style: none;
}

.mid .box .contenuto h3 {
  font-size: 6em;
  text-align: justify;
  text-justify: inter-word;
}

.mid .box .contenuto h4 {
  font-size: 3em;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 3%;
}

.mid .box .contenuto p {
  font-size: 1.5em;
  text-align: justify;
  text-justify: inter-word;
}

/*pagina scegli fascia*/


@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}