<section id="footer">
    <div class="container">
        <div class="top">
            <div class="container centered">
            </div>
        </div>
        <div class="midd">
            <div class="container centered">
                <div class="contacts">
                    <h2>Contatti</h2>
                    <button>Scrivici</button>
                    <button>Chiamaci</button>
                </div>
                <div class="">
                    <h2>ciaoc</h2>
                </div>
                <div class="">
                    <h2>ciaoc</h2>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="container centered">
                <a>Privacy policy</a>
                <a>Sitemap</a>
                <a>Cookies consent</a>
            </div>
        </div>
    </div>
</section>